#header-container {
	background-color: #8fc1e3;
	height: 56px;
	position: fixed;
	top: 0px;
}

#main-container {
	padding-top: 56px;
	background-color: #EEEEEE;
	min-height: calc(100vh - 70px);
	overflow: auto;
}

#main-container > div {
	min-height: calc(100vh - 70px);
}

#footer-container {
	background-color: #8fc1e3;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	vertical-align: center;
}

#footer-container *, #header-container * {
	margin-top: auto;
	margin-bottom: auto;
}

.side-panel {
	background-color: white;
	overflow: auto;
}

.justify-right {
	float: right;
	text-align: right;
}

.justify-center {
	float: center;
	margin: auto;
	text-align: center;
}

.justify-left {
	float: left;
	text-align: left;
}

.center-content {
	float: left;
	text-align: left;
}

@media (min-width: 576px) {
	.center-content {
		float: center;
		text-align: center;
	}
}

.search-result-thumbnail {
	height: 100px;
	width: 100px;
}

.search-result-claim {
	font-weight: bold;
}
